[Unit]
Description=Apriltag Detector Service

[Service]
Type=simple
WorkingDirectory = %p
ExecStart=/usr/bin/python3 %s

[Install]
WantedBy=multi-user.target
